.search {
    width: 60%;
    padding-top: 2rem;
    @include flex(row nowrap, space-around, center);
    @include marginAuto;

    &-label {
        font-weight: bold;
    }

    &-input {
        @include flex(row nowrap, space-evenly, center);

        input {
            width: 40vw;
            height: 4vh;
            padding: 1rem;
            margin: 0.5rem 1rem;
            border-radius: 20px;
        }
    }

    &-button:hover {
        color: gray;
        cursor: pointer;
    }
}